@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --color-main-background: oklch(90.84% 0.048 75.30);
  --color-vignette-background: oklch(81.39% 0.080 68.17);
  --font-main-logo: "Pridi", serif;
  --font-main-subtitle-logo: "Kameron", serif;
  --font-main-header-footer: "EB Garamond", serif;
  --font-default: "Amiri", serif;
  --text-shadow-main-logo-mobile: 1px 1px 0px var(--color-main-background), 1.5px 2.5px 0px var(--color-orange-950);
  --text-shadow-main-logo: 1.5px 2.5px 0px var(--color-main-background), 2.5px 3.5px 0px var(--color-orange-950);

  --animate-spin: spin 10s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media print {
  .default-background {
    background: radial-gradient(var(--color-main-background), var(--color-main-background), var(--color-vignette-background)) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.default-background { 
  background: radial-gradient(var(--color-main-background), var(--color-main-background), var(--color-vignette-background));
}